============================================
Spécifications fonctionnelles de Gilded Rose
============================================

Salut, bienvenue chez Gilded Rose. Nous sommes une petite auberge idéalement située dans une ville importante et gérée par une aubergiste appelée Allison. Nous achetons et vendons également de la marchandise de premier ordre. Malheureusement, nos articles se dégradent constamment en qualité alors qu'ils approchent leur date de péremption. Nous avons un système en place qui met à jour l'inventaire. Il a été développé par un individu pragmatique nommé Leeroy, qui est parti vers d'autres aventures. Votre tâche est d'ajouter une nouvelle fonctionnalité à ce système pour que nous puissions commencer à vendre une nouvelle catégorie d'objets. Commençons par une introduction à notre système :

- Tous les articles ont une Date de vente limite (_SellIn_) qui représente le nombre de jours que nous avons pour vendre l'objet.
- Tous les articles ont une note de Qualité (_Quality_) signifiant leur valeur.
- En fin de journée, les deux valeurs sont diminuées pour chaque article.

Plutôt simple, non ? C'est maintenant que cela devient intéressant :

- Une fois la date de vente dépassée, la Qualité diminue deux fois plus vite.
- La Qualité d'un objet n'est jamais négative.
- Le Vieux Brie (_Aged Brie_) augmente en Qualité au fil du temps.
- La Qualité d'un objet n'est jamais plus grande que 50.
- Sulfurox (_Sulfuras_), un objet légendaire, n'est pas en vente et ne diminue pas de Qualité
- L'Accès aux coulisses (_Backstage passes_), comme le vieux brie, augmente en Qualité quand sa date de vente approche. La Qualité augmente de 2 quand il reste 10 jours ou moins et de 3 quand il reste cinq jours ou moins, mais passe à 0 après le concert.

Nous avons récemment signé avec un distributeur d'objets magiques. Cela nécessite une mise à jour de notre système :

- Les objets Magiques (_Conjured_) se dégradent en Qualité deux fois plus vite que les objets normaux.

Feel free to make any changes to the UpdateQuality method and add any new code as long as everything still works correctly. However, do not alter the Item class or Items property as those belong to the goblin in the corner who will insta-rage and one-shot you as he doesn't believe in shared code ownership (you can make the UpdateQuality method and Items property static if you like, we'll cover for you). 

Just for clarification, an item can never have its Quality increase above 50, however "Sulfuras" is a legendary item and as such its Quality is 80 and it never alters.
